<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zaoyoe.redis</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/redis/bin/redis-server</string>
    <string>/Users/wangyongchao/.zaoyoe-services/redis/redis.conf</string>
  </array>
  <key>UserName</key>
  <string>wangyongchao</string>
  <key>GroupName</key>
  <string>staff</string>
  <key>WorkingDirectory</key>
  <string>/Users/wangyongchao/.zaoyoe-services/redis</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/wangyongchao</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>
  <key>HardResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/wangyongchao/.zaoyoe-services/logs/redis.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/wangyongchao/.zaoyoe-services/logs/redis.err.log</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
</dict>
</plist>
